/* body{
    background-color: #191a19; 
    background-color: #0f0a14;
    padding-left: 1rem;
    padding-right: 1rem;
    color:white
} */
/* .xterm-viewport{
    background-color: #0f0a14 !important;
} */
.player{
    visibility: hidden;
}